<%= @quotes.each do |quote| %>
    <%=quote.quote%>
    <% if quote.book? %>
        source = Book.find(quote.book_id)
    <% else %>
        source = Movie.find(quote.movie_id)
    <% end %>
    <br>
     From <span class='title'><%=source.title%></span>
    <% if quote.author %>
        ~<%=quote.author%>
    <%end%>