<div class="spacer"><h1>Enter a New Favorite Quote!</h1></div>

<%= form_for @quote, url: "/quotes/add" do |f| %>
    First thing's first: Is this quote from a book or a movie?
<p><label>Book
   <input type="radio" name="book?" id="book?" value="true" />
   </label>
<label>Movie
   <input type="radio" name="book?" id="book?" value="false" />
</label></p>
    
    <%=f.submit "Create" %>
    <% end %>