<div>
<h1>TagLine</h1>
<h3>Keeping track of your favorite sentences, passages, and quotes.</h3>
</div>
<br>
<div>
Menu Items
</div>

Returning User?
<%=button_to "Log-In", '/login', method: :get %>
<br>
Need to Register?
<%=button_to "Sign Up", '/users/new', method: :get %>

