

<br>
<h3><span class="tab"> </span>Are you sure you want to logout?</h3>
<br>

<p><span class="tab"> </span><%=link_to "LOGOUT", logout_path, method: :delete %> <span class="tab"> </span><%=link_to "NEVERMIND", quotes_path, method: :get %></p>