<div class="spacer"><h1>Edit a Movie</h1></div>
<p>Found a mistake? Need to update a synopsis or add some cast members? No problem. Fill in the following form to make corrections and submit an edit request.</p>

<%= render 'form' %>
