<div class="spacer"><h1>All the Movies</h1></div>

<div class="leftlist"><h3>A cinematic goldmine!</h3></div>
<br>
<div>
<% @movies.each do |movie| %>
    <li><%=link_to movie.title, movie_path(movie) %><br>
    &emsp;Director: <%= movie.director %></li>
    &emsp;Cast Includes: <%= movie.cast_members %></li><br>
    <br>
    <%end%>
<br>
<br>
<br>

<fieldset>
<%=button_to "Add a New Movie", new_movie_path, :method=>'get' %>
</fieldset>
<br>
