<h1>All the Movies</h1>
<h3>A cinematic goldmine!</h3>
<div>
<ol>
<% @movies.each do |movie| %>
    <li><span class='title'><%=link_to movie.title, movie_path(movie) %></span><br>
    &emsp;Director: <%= movie.director %></li>
    &emsp;Cast Includes: <%= movie.cast_members %></li><br>
    <br>
    <%end%>
</ol>
</div>