<div class="spacer"><h1>My Books</h1></div>
<h3>A veritable library!</h3>
<br>
<div>
<ol>
<% @books.each do |book| %>
    <li><span class='title'><%=link_to book.title, book_path(book) %></span><br>
    &emsp; <%= book.author %></li><br>
    <%end%>
</ol>
</div>